{%extends 'base.html'%}
{%load staticfiles%}
{%block header%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'product.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'our_shops.css' %}">
{%endblock%}

{%block content%}
<div class="body-container">
	<div class="context">
	{%if param == 'shops'%}
	<p style="text-align: center; margin-top: 2%; font-size: 1.8em">Наши магазины в Украине</p>

		<div style="width: 70%; padding: 3%;">

		<h3>Киев</h3>
		<table class="general_table">
		<tr class="table_header">
			<th>Адрес</th>
			<th>Телефон</th>
			<th>Время работы</th>
		</tr>
			
			<tr>
				<td class="table_adress">ул. Ленина, 18а</td>
				<td class="table_phone">+380953423411</td>
				<td class="table_grafic">Пн-Сб: 09:00 - 18:00</td>
			</tr>
		</table>

		<br>

		<h3>Одесса</h3>
		<table class="general_table">
		<tr class="table_header">
			<th>Адрес</th>
			<th>Телефон</th>
			<th>Время работы</th>
		</tr>
			
			<tr>
				<td class="table_adress">ул. Ломоносова, 196</td>
				<td class="table_phone">+38097536621</td>
				<td class="table_grafic">Пн-Сб: 09:00 - 18:00</td>
			</tr>
			<tr>
				<td class="table_adress">ул. Береговая, 11</td>
				<td class="table_phone">+38097536625</td>
				<td class="table_grafic">Пн-Сб: 09:00 - 18:00</td>
			</tr>
		</table>
		<br>

		<h3>Харьков</h3>
		<table class="general_table">
		<tr class="table_header">
			<th>Адрес</th>
			<th>Телефон</th>
			<th>Время работы</th>
		</tr>
			
			<tr>
				<td class="table_adress">пер. Молочный, 64</td>
				<td class="table_phone">+380663322111</td>
				<td class="table_grafic">Пн-Сб: 09:00 - 18:00</td>
			</tr>
			<tr>
				<td class="table_adress">ул. Промышленная, 256</td>
				<td class="table_phone">+380663322211</td>
				<td class="table_grafic">Пн-Сб: 09:00 - 18:00</td>
			</tr>
		</table>
		<br>

		<h3>Полтава</h3>
		<table class="general_table">
		<tr class="table_header">
			<th>Адрес</th>
			<th>Телефон</th>
			<th>Время работы</th>
		</tr>
			
			<tr>
				<td class="table_adress">ул. Ильфа и Петрова, 13</td>
				<td class="table_phone">+380953765430</td>
				<td class="table_grafic">Пн-Сб: 09:00 - 18:00</td>
			</tr>
		</table>
		</div>

		{%elif param == 'delivery'%}
		<div class="general_delivery">
		<h3 style="text-align: center">Доставка и оплата</h3>
		<div class="pay_delivery">
				<p>Заказывая доставку товара сторонними курьерскими службами (Нова пошта, Мист Экспресс ) - при получении обязательно проверяйте наличие всего товара в заказе, а так же его внешний вид.
				В случае повреждения товара, или неполной комплектации заказа - необходимо отказаться от получения товара и его оплаты, а так же составить акт(претензию) . В случае если данная ситуация будет иметь место - обязательно сообщите нам о случившемся по тел: +380675443132</p>
		</div>
		<div class="all_pay">
		<h3 style="text-align: center">Способы оплаты</h3>
			<table class="pay_kinds">
				<tr>
					<td class="pay_cashe">Наличная</td>
					<td class="pay_without_cashe">Безналичная</td>
				</tr>
				<tr>
					<td class="pay_cashe">Оплата наличными при получении товара</td>
					<td class="pay_without_cashe"><p>Оплата по безналичному расчету производится в кассе отделения любого банка или с расчетного счета Вашей фирмы.</p><br>

					<p>При выборе безналичного способа оплаты доставка заказа возможна после поступления средств на наш расчетный счет</p></td>
				</tr>
			</table>
		</div>

		<br>
		<div class="all_delivery">
		<h3 style="text-align: center">Способы доставки</h3>
			<table class="pay_kinds">
				<tr>
					<td class="pay_cashe">Доставка по городу</td>
					<td class="pay_without_cashe">Доставка сторонней курьерской службой</td>
				</tr>
				<tr>
					<td class="pay_cashe">Доставка осуществляется нашим курьером. В пределах города - бесплатна.</td>
					<td class="pay_without_cashe"><p>Доставка той курьерской службой, которая для вас является предпочтительной. Сумма доставки назначается фирмой-доставщиком.</p><br>
					</td>
				</tr>
			</table>
		</div>
	</div>


	{%elif param == 'warranty'%}
	<div class="all_warranty">
		
<h2 style="text-align: center">Гарантия и сервисное обслуживание</h2><br>
<h3>На какие товары предоставляется гарантия?</h3><br>

<p>На товары в нашем магазине предоставляется гарантия, подтверждающая обязательства по отсутствию в товаре заводских дефектов. Гарантия предоставляется на срок от 2-х недель до 99 месяцев в зависимости от сервисной политики производителя.  Подтверждением гарантийных обязательств служит гарантийный талон производителя, или гарантийный талон нашего магазина.</p>

<p>Пожалуйста, проверьте комплектность и отсутствие дефектов в товаре при его получении (комплектность определяется описанием изделия или руководством по его эксплуатации).</p><br>

<h3>Куда обращаться за гарантийным обслуживанием?</h3><br>

<p>Гарантийным обслуживанием занимаются сервисные центры, авторизованные производителями.
Адреса и телефоны сервисных центров вы можете найти на гарантийном талоне или по адресу — список сервисных центров.</p>

<p>Право на бесплатное гарантийное обслуживание дает гарантийный талон.</p>

<p>Пожалуйста, сохраняйте его в течение всего срока эксплуатации.</p>

<p>Срок ремонта определяется авторизованным СЦ, в случае возникновения проблем с сервис-партнером, вы можете обратиться в точку продажи.</p><br>
<h3>Я могу обменять или вернуть товар?</h3><br>

<p>Да, вы можете обменять или вернуть товар в течение 14 дней после покупки. Это право гарантирует вам «Закон о защите прав потребителя».</p>

	</div>



	{%elif param == 'contacts'%}

<p style="text-align: center; margin-top: 2%; font-size: 1.8em">Наши контакты</p>

		<div class="all_contacts">

		<table style="margin-left: 10%; width: 80%">
		<tr class="table_header">
			<td class="table_adress" colspan="2">Прием заказов осуществляется по телефонам:</td>
		</tr>
		<tr>
			<td class="table_adress">По Украине (бесплатно)</td>
			<td class="contacts_phone">(0-800) 540-321</td>
			
		</tr>
			
			<tr>
				<td class="table_adress">По Киеву</td>
				<td class="contacts_phone">(044) 33-44-33</td>
			</tr>
		</table>

		<br>

		<table style="margin-left: 10%; width: 80%">
		<tr class="table_header">
			<td class="table_adress" colspan="2">График работы контакт-центра:</td>
		</tr>
		<tr>
			<td class="table_adress">Понедельник - пятница</td>
			<td class="contacts_phone">с 08:00 до 22:00</td>
			
		</tr>
			
			<tr>
				<td class="table_adress">Суббота</td>
				<td class="contacts_phone">с 09:00 до 20:00</td>
			</tr>
		</table>
		<br>
		<table style="margin-left: 10%; width: 80%">
		<tr class="table_header">
			<td class="table_adress">Горячая линия: 0-800-540-321(Звонки со стационарных телефонов, а также мобильных операторов Киевстар, Vodafone и lifecell, бесплатны по всей Украине.).</td>
		</table>
		

		</div>

		{%elif param == 'about_us'%}
		<div class="all_warranty">
		
		<h2 style="text-align: center">О нас</h2><br>
		

		<p>Мы молодая, но дружная компания,— лидер и законодатель трендов в продаже цифровой тхники, специализирующаяся на ноутбуках. Мы раскрываем возможности Цифровых экосистем, делаем сложные технологии простыми и помогаем клиенту выбрать из лучшего предложения.</p><br>
		<p>Мы фокусируемся на ключевых потребностях наших клиентов:</p><br>
		<ul style="list-style: none;">
			<li>- в широком ассортименте товаров и новинок,</li>
			<li>- честной цене,</li>
			<li>- комфортном, простом и быстром способе приобретения и получения покупок,</li>
			<li>- в индивидуальном подходе.</li>
		</ul><br>
		<p>Наша задача состоит не только в том, чтобы просто продать нужный товар, но и в том, чтобы информировать и просвещать покупателя. Вооружившись всесторонней информацией об интересном устройстве и его главных конкурентах, вы сможете самостоятельно принять взвешенное решение о покупке именно того товара, который вам нужен.</p><br>
		<p>Нашей главной целью и основополагающим принципом в работе является удовлетворенность клиентов — как розничных покупателей, так и организаций. При решении любых вопросов мы всегда на вашей стороне, потому что понимаем — наше будущее на 100% в ваших руках.</p>
	</div>

		{%endif%}
	
	
	</div>
</div>
{%endblock%}